body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    display: inline-block;
}

#game {
    display: inline-flex;
    flex-direction: column;
}

#topbar {
    display: flex;
    justify-content: space-between;
    outline: solid 1px;
}

#restart {
    width: 50px;
    height: 50px;
    outline: solid 1px;
}

.happy {
    background-image: url("static/happy.png");
}

.normal {
    background-image: url("static/normal.png");
}

.sad {
    background-image: url("static/sad.png");
}

.tile {
    height: 30px;
    width: 30px;
    outline: solid 1px;
    background-size: contain;
}

.hidden {
    background-color: gray;
}

.revealed {
    background-color: white;
}

.row {
    display: inline-flex;
}

.flagged {
    background-image: url("static/flag.png");
}

.mine {
    background-image: url("static/mine.png");
    background-color: red;
}

.digits {
    width: 200px;
    height: 50px;
    display: inline-flex;
    background-color: black;
}

.digit {
    width: 50px;
    height: 50px;
}

.num_1 {
    background-image: url("static/one.png");
}

.num_2 {
    background-image: url("static/two.png");
}

.num_3 {
    background-image: url("static/three.png");
}

.num_4 {
    background-image: url("static/four.png");
}

.num_5 {
    background-image: url("static/five.png");
}

.num_6 {
    background-image: url("static/six.png");
}

.num_7 {
    background-image: url("static/seven.png");
}

.num_8 {
    background-image: url("static/eight.png");
}

.dig_0 {
    background-image: url("static/digit0.png")
}

.dig_1 {
    background-image: url("static/digit1.png")
}

.dig_2 {
    background-image: url("static/digit2.png")
}

.dig_3 {
    background-image: url("static/digit3.png")
}

.dig_4 {
    background-image: url("static/digit4.png")
}

.dig_5 {
    background-image: url("static/digit5.png")
}

.dig_6 {
    background-image: url("static/digit6.png")
}

.dig_7 {
    background-image: url("static/digit7.png")
}

.dig_8 {
    background-image: url("static/digit8.png")
}

.dig_9 {
    background-image: url("static/digit9.png")
}

.dig_neg {
    background-image: url("static/digitneg.png");
}